<header>

    <%- include('../templates/navbar.ejs')%>
</header>
<main>
    <div class="main">
        <div class="cards">
            <%if(data.length>0){%>
                <%data.forEach((item,i)=>{%>
                    <div class="card">
                        <img src="../static/img/pdf-icon.png" class="" alt="...">
                        <div class="card-content">
                            <h5 class="">
                                <%=i+1%>
                            </h5>
                            <!-- <p class="">
                                    <%=item.invoiceNo%>
                                </p> -->
                            <p class="">
                                <%=item.invoiceDate%>
                            </p>
                            <a href="/home/<%=item.invoiceNo%>" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                    <% })%>
                        <%}else{%>
                            <h1>No data yet</h1>
                            <%}%>

                                <p class="info"></p>

        </div>
    </div>
</main>
<footer>

</footer>