<%if(data){%>
  <div class="parent">
      <div class="child">
        <header>
          <div class="info">
            <ul>
              <li id="one">GST INVOICE</li>
              <li id="two">MOB- +91 9137128020</li>
            </ul>
          </div>
          <div class="heading">
            <div class="name">
              <div id="logo-name">
                <h1>AYESHA METAL</h1>
              </div>
              <div class="about">
                <h2>Dealers in: Ferrous & Non-Ferrous Metals</h2>
              </div>
            </div>
          </div>
          <div class="address">
            <p>
              Room No. C-139, Director Chl., Ganesh Nagar, Near Rehmat Masjid,
              Charkop, Kandivali(W), Mumbai-400067.
            </p>
          </div>
          <div class="numbers">
            <p>GSTIN: 27MRAPS1986G1Z5</p>
            <p>PAN NO: MRAPS1986G</p>
            <p>STATE: MAHARASTRA</p>
            <p>STATE CODE: 27</p>
          </div>
        </header>
        <main>
          <div class="all-sections">
            <section class="section-one">
              <div class="grid-div">
                <div class="border-bottom border-right"><b>INVOICE NO</b></div>
                <div class="border-bottom border-right">
  <p class="txt-center">
      <%=data.invoiceNo%>
  </p>
              </div>
                <div class="border-bottom border-right">TRANSPORT</div>
                <div class="border-bottom">
                  <p class="txt-center">
                      <%=data.transport%>
                  </p>
                </div>
              </div>
              <div class="grid-div">
                <div class="border-bottom border-right">
                  <b>INVOICE DATE</b>
                </div>
                <div class="border-bottom border-right">
                  <p class="txt-center">
                      <%=data.invoiceDate%>
                  </p>
                </div>
                <div class="border-bottom border-right">VEHICLE NO</div>
                <div class="border-bottom">
                  <p class="txt-center">
                      <%=data.vehicleNo%>
                  </p>
                </div>
              </div>
              <div class="grid-div">
                <div class="border-bottom border-right">REVERSE CGS</div>
                <div class="border-bottom border-right">
                  <p class="txt-center">
                      <%=data.reverseCGS%>
                  </p>
                </div>
                <div class="border-bottom border-right">DATE</div>
                <div class="border-bottom">
                  <p class="txt-center">
                      <%=data.date%>
                  </p>
                </div>
              </div>
              <div class="grid-div-two">
                <div class="border-bottom border-right">STATE</div>
                <div class="border-bottom border-right">
                  <p class="txt-center">
                      <%=data.state%> 
                  </p>
                </div>
                <div class="border-bottom border-right ">CODE</div>
                <div class="border-bottom border-right">
                  <p class="txt-center">
                      <%=data.code%>
                  </p>
                </div>
                <div class="border-bottom border-right ">PLACE</div>
                <div class="border-bottom">
                  <p class="txt-center">
                      <%=data.place%>
                  </p>
                </div>
              </div>
              <div class="grid">
                <div class="border-bottom border-right"></div>
                <div class="border-bottom border-right">
                  E-WAY BILL NO.
                </div>
                <div class="border-bottom">
                  <p class="txt-center">
                      <%=data.eWayBillNo%>
                  </p>
                </div>
              </div>
            </section>
            <section class="section-two">
              <div class="details">
                <div class="bill border-right border-bottom">
                  <b>BILL TO PARTY (Name)</b>
                </div>
                <div class="consignee border-bottom">
                  <p>
                    <%=data.billToPartyName%> 

                  </p>
                </div>
              </div>
              <div class="bill-input">
                <div class="btp border-bottom border-right">
                  <b>BILL TO PARTY (Address)</b>
                
                </div>
                <div class="doc border-bottom">
                  <p class="txt-center">
                      <%=data.billToPartyAddress%>
                  </p>
                </div>
  
              </div>
              <div class="pan-gst">
                <div class="border-bottom border-right">PAN</div>
                <div class="border-bottom ">
                  <p class="txt-center">
                      <%=data.PAN%>
                  </p>
                </div>
               
              </div>
              <div class="pan-gst">
                <div class="border-bottom border-right">GSTIN No.</div>
                <div class="border-bottom ">
                  <p class="txt-center">
                      <%=data.GSTIN%>
                  </p>
                </div>
               
              </div>
              <div class="grid-div-three">
                <div class="border-bottom border-right">STATE</div>
                <div class="border-bottom border-right">
                  <p class="txt-center">
                      <%=data.state%>
                  </p>
                </div>
                <div class="border-bottom border-right ">CODE</div>
                <div class="border-bottom ">
                  <p class="txt-center">
                      <%=data.code%>
                  </p>
                </div>
                
              </div>
            </section>
            <section class="section-three">
              <div class="main-bill">
                <div class="about-product">
                  <div class="four border-bottom border-right">SR NO.</div>
                  <div class="eighteen border-bottom border-right">
                    PRODUCT DESCRIPTION
                  </div>
                  <div class="six border-bottom border-right">HSN CODE</div>
                  <div class="five border-bottom border-right">QTY (Kg).</div>
                  <div class="five border-bottom border-right">RATE</div>
                  <div class="border-bottom" style="width: 6rem">AMOUNT</div>
                </div>
                <div>
                  <div class="about-product">
                    <div class="four border-bottom border-right">
                      <%if(data.productOne !==''){%>
                        1 .
                        <%}%>
                    </div>
                    <div class="eighteen border-bottom border-right"style="justify-content: flex-start;">
                      <p class="txt-center" style="padding-left: 4px;" >
                          <%=data.productOne%>
                      </p>
                    </div>
                    <div class="six border-bottom border-right">
                      <p class="txt-center">
                          <%=data.hsnCodeOne%>
                      </p>
                    </div>
                    <div class="five border-bottom border-right">
                      <p class="txt-center">
                          <%=data.quantityOne%>
                      </p>
                    </div>
                    <div class="five border-bottom border-right">
                      <p class="txt-center">
                          <%=data.rateOne%>
                      </p>
                    </div>
                    <div
                      class="border-bottom amount"
                      id="amountOne"
                      style="width: 6rem"
                    ><p class="txt-center">
                      <%=data.amountOne%>
                    </p>
                  </div>
                  </div>
                </div>
                <div>
                  <div class="about-product">
                    <div class="four border-bottom border-right">
                      <%if(data.productTwo !==''){%>
                        2 .
                        <%}%>
                    </div>
                    <div class="eighteen border-bottom border-right"style="justify-content: flex-start;">
                      <p class="txt-center"style="padding-left: 4px;"  >
                          <%=data.productTwo%>
                      </p>
                    </div>
                    <div class="six border-bottom border-right">
                      <p class="txt-center">
                          <%=data.hsnCodeTwo%>
                      </p>
                    </div>
                    <div class="five border-bottom border-right">
                      <p class="txt-center">
                          <%=data.quantityTwo%>
                      </p>
                    </div>
                    <div class="five border-bottom border-right">
                      <p class="txt-center">
                          <%=data.rateTwo%>
                      </p>
                    </div>
                    <div
                      class="border-bottom amount"
                      id="amountOne"
                      style="width: 6rem"
                    ><p class="txt-center">
                      <%=data.amountTwo%>
                    </p>
                  </div>
                  </div>
                </div>
                <div>
                  <div class="about-product">
                    <div class="four border-bottom border-right">
                      <%if(data.productThree !==''){%>
                        3 .
                        <%}%>
                    </div>
                    <div class="eighteen border-bottom border-right" style="justify-content: flex-start;">
                      <p class="txt-center"style="padding-left: 4px;" >
                          <%=data.productThree%>
                      </p>
                    </div>
                    <div class="six border-bottom border-right">
                      <p class="txt-center">
                          <%=data.hsnCodeThree%>
                      </p>
                    </div>
                    <div class="five border-bottom border-right">
                      <p class="txt-center">
                          <%=data.quantityThree%>
                      </p>
                    </div>
                    <div class="five border-bottom border-right">
                      <p class="txt-center">
                          <%=data.rateThree%>
                      </p>
                    </div>
                    <div
                      class="border-bottom amount"
                      id="amountOne"
                      style="width: 6rem"
                    ><p class="txt-center">
                      <%=data.amountThree%>
                    </p>
                  </div>
                  </div>
                </div>
                <div class="total-amount-before-tax">
                  <div class="twenty-two border-bottom border-right"></div>
                  <div class="sixteen border-bottom border-right">
                    <b>TOTAL AMOUNT BEFORE TAX</b>
                  </div>
                  <div
                    class="border-bottom"
                    id="beforeTaxTotal"
                    style="width: 6rem"
                  >
              <p class="txt-center" style="font-weight: bold;">
                  <%=data.amountBeforeTax%>
              </p>
          </div>
                </div>
                <div class="total-amount-before-tax">
                  <div class="twenty-two border-bottom border-right"></div>
                  <div class="sixteen border-bottom border-right">
                    <b>ADD: CGST 9%</b>
                  </div>
                  <div
                    class="border-bottom"
                    style="width: 6rem"
                    id="cgst"
                  >
                  <p class="txt-center" style="font-weight: bold;">
                      <%=data.cgst%>
                  </p>
              </div>
                </div>
                <div class="total-amount-before-tax">
                  <div class="twenty-two border-bottom border-right"></div>
                  <div class="sixteen border-bottom border-right">
                    <b>ADD: SGST 9%</b>
                  </div>
                  <div
                    class="border-bottom"
                    style="width: 6rem"
                    id="sgst"
                  >
                  <p class="txt-center" style="font-weight: bold;">
                      <%=data.sgst%>
                  </p>
              </div>
                </div>
                <div class="total-amount-before-tax">
                  <div class="twenty-two border-bottom border-right"></div>
                  <div class="sixteen border-bottom border-right">
                    <b>TOTAL AMOUNT AFTER TAX</b>
                  </div>
                  <div
                    class="border-bottom"
                    style="width: 6rem"
                    id="afterTaxTotal"
                  >
                  <p class="txt-center" style="font-weight: bold;">
                      <%=data.amountAfterTax%>
                  </p></div>
                </div>
              </div>
            </section>
            <section class="section-four">
              <div class="bank">
                <div class="border-right border-bottom bd twenty-two">
                  <b>BANK DETAILS</b>
                </div>
                <div class="border-bottom empty"></div>
              </div>
              <div class="bank-details">
                <div class="bank-name">
                  <div class="border-right border-bottom">Bank Name</div>
                  <div class="border-right border-bottom">A/C no</div>
                  <div class="border-right border-bottom">IFCS Code</div>
                  <div class="border-right border-bottom">Branch</div>
                </div>
                <div class="bank-names-details">
                  <div class="border-right border-bottom">
                    <b>ICICI Bank</b>
                  </div>
                  <div class="border-right border-bottom">
                    <b>058505003183</b>
                  </div>
                  <div class="border-right border-bottom">
                    <b>ICIC0000585</b>
                  </div>
                  <div class="border-right border-bottom">
                    <b>Kandivali(West)</b>
                  </div>
                </div>
                <div class="sign border-bottom border-right"></div>
                <div class="for border-bottom proprietor">
                  <p>for <b>AYESHA METAL</b></p>
                  <img src="../static/img/Edited-Signature.png" alt="">
                  <p>Proprietor</p>
                </div>
              </div>
            </section>
          </div>
          <div class="submit">
              <button class="download">Download</button>
              <a href="/home">Home</a>
        </div>
          <!-- <div class="dummy">
            <button>Dummy text</button>
  
        </div> -->
        </main>
        <footer></footer>
      </div>
    </div>
    <%}else{%>
      <h1 style="margin: auto;width: fit-content;">First fill up the form</h1>
      <%}%>
  